.body {
  background-color: #00d1b2;
}

/* Styles For The Front Page */

 .logoImage {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
} 

/* set image to smaller for landscape screens */
@media screen and (max-width: 992px) {
  .logoImage {
    max-width: 200px;
  }
}

.logoText {
   font-family: 'Ubuntu', sans-serif;
}

.logoTagLine {
  font-family: 'Vollkorn', serif;
}

#navbar-brand{
  margin-left: 20px;
}

.button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
  text-size-adjust: inherit;
  background: linear-gradient(90deg,#ecf004,#a8e52e);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin: auto;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {background: #ffab1a;}
  /* .button2:hover { background: linear-gradient(90deg,#a8e52e,#ecf004;} */
  
  .trailList {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-radius: 20px 20px 0px 0px;
    background: #73AD21;
    background: linear-gradient(90deg,#ecf004,#a8e52e);
    padding: 10px; 
    height: 50px;  
  }
  .trail-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-radius: 20px 20px 0px 0px;
    background: #73AD21;
    background: linear-gradient(90deg,#ecf004,#a8e52e);
    height: 50px;
    padding: 10px; 
  }
  .info {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px; 
  }


  a:link {
    color: inherit;
  }
  
  /* visited link */
  a:visited {
    color: inherit;
  }
  
  /* mouse over link */
  a:hover {
    color: inherit;
  }
  
  /* selected link */
  a:active {
    color: inherit;
  }


  #location{
    font-family: 'Ubuntu', sans-serif;
      text-decoration: none; /* no underline */
  }

  #trail-id {
    font-family: 'Vollkorn', serif;
    font-size: 16px; 
  }
  #ubuntu{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px; 
  }
  #myFont{
    /* font-family: 'Merriweather', serif; */
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin-left: 30px;
  }


/* remove line breaks from descriptions */
.description br {
  display: none;
}


.fa-info-circle:hover {
  color:rgb(20, 181, 20);
}



.info:hover {
  color:rgb(20, 181, 20);
}

.good{
  color: green;
}


.hide{
  display: none;
}

.show{
  display: block;
}


#myProgress {
  width: 100%;
  background-color: whitesmoke;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #a8e52e;
}

.weatherBar {
  font-family: 'Vollkorn', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color:transparent;
  /* background-color: #B7E2F7; */
  border-radius:  10px 10px 0px 0px;
  padding: 10px;
  border-style:none;
}

.weatherBtn1 {
  font-family: 'Vollkorn', sans-serif;
  font-weight: bold;
  background-color: #95eff5;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius:  10px 0px 0px 0px;
  border-style:none;
}
.weatherBtn2 {
  font-family: 'Vollkorn', sans-serif;
  font-weight: bold;
  background-color: #eff595;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius:  0px 0px 0px 0px;
  border-style:none;
}
.weatherBtn3 {
  font-family: 'Vollkorn', sans-serif;
  font-weight: bold;
  background-color: #f5d295;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius:  0px 0px 0px 0px;
  border-style:none;
}
.weatherBtn4 {
  font-family: 'Vollkorn', sans-serif;
  font-weight: bold;
  background-color: #f5ab95;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius:  0px 10px 0px 0px;
  border-style:none;
}


.round {
  border-radius:  10px 10px 10px 10px;
}

#weatherInfo {
  margin-left: 30px;
}

.image-div {
  float: left;
  margin: 20px 5 0 0;
  /* border: 1px solid black; */
}
  
#description {
  padding: 10px;
  /* margin-top: 30px; */

}

#map {
  height: 40%;
  width: 20%;
}

