.body {
  background-color: #00d1b2;
}

/* Styles For The Front Page */

 .logoImage {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
} 

/* set image to smaller for landscape screens */
@media screen and (max-width: 992px) {
  .logoImage {
    max-width: 200px;
  }
}

.logoText {
   font-family: 'Ubuntu', sans-serif;
}
.logoTagLine {
  font-family: 'Vollkorn', serif;
}

.button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
  text-size-adjust: inherit;
  background: linear-gradient(90deg,#ecf004,#a8e52e);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin: auto;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {background: #ffab1a;}
  /* .button2:hover { background: linear-gradient(90deg,#a8e52e,#ecf004;} */



/* remove line breaks from descriptions */
.description br {
  display: none;
}


.fa-info-circle:hover {
  color: blue;
}



.info:hover {
  color:blue;
}

.good{
  color: green;
}


.hide{
  display: none;
}

.show{
  display: block;
}